.testimonials {
    margin-top: 120px;
    background-image: url('../images/testimonials-bg.svg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 173px;
    // .testimonials__title

    &__title {
        text-align: center;
    }

    // .testimonials__wrapper

    &__wrapper {
        margin-top: 50px;
        padding: 60px;
        border-radius: 30px;
        background-color: $gray;
        display: flex;
        flex-wrap: wrap;
        gap: 50px 80px;
        background-image: url('../images/testimonials-wrapper-bg.png');
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    &__mobile{
        display: none;
    }
}

.testimonials-item {
    width: calc((100% / 3) - 54px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    height: max-content;
    // .testimonials-item__head

    &__head {
        display: flex;
    }

    // .testimonials-item__logo

    &__logo {
        border-radius: 50%;
    }

    // .testimonials-item__info

    &__info {
        margin-left: 15px;
    }

    // .testimonials-item__name

    &__name {
        color: $green;
        font-size: 23px;
    }

    // .testimonials-item__date

    &__date {
        font-family: "Merriweather Sans";
        color: $dark_gray;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    // .testimonials-item__more

    &__more {
        margin-left: auto;
        cursor: pointer;
    }

    // .testimonials-item__descr

    &__descr {
        margin-top: 15px;
        margin-bottom: 19px;
        & p{
            font-family: "Merriweather Sans";
            color: $black;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 96%;
        }
    }

    // .testimonials-item__footer

    &__footer {
        margin-top: auto;
        display: flex;
        align-items: center;
    }

    // .testimonials-item__likes

    &__likes {
        
        display: flex;
        align-items: center;
        gap: 10px;
        & span{
            font-family: "Merriweather Sans";
            font-size: 16px;
            color: $dark_gray;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    // .testimonials-item__comments

    &__comments {
        margin-left: auto;
        & span{
            font-family: "Merriweather Sans";
            font-size: 16px;
            color: $dark_gray;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}
