<section class="quiz">
    <div class="container">
        <div class="quiz-hero">
            <h2 class="quiz-hero__title title title-50">Encuesta</h2>
            <p class="quiz-hero__subtitle">Responde a 10 preguntas simples para obtener tu plan de adelgazamiento
                personalizado GRATIS ahora mismo.</p>
            <span class="confidencial"><span>*</span>Tu información es confidencial y no se comparte con terceros</span>
            <button class="quiz-hero__btn btn">
                <div class="btn--arrow">
                    <img src="../../images/btn-arrow.svg" alt="">
                </div>
                ¡Comenzar!
            </button>
        </div>
        <div class="quiz-wrapper"></div>
    </div>
</section>