html{
    // overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    height: 100%;
}
body{
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
}
main.main{
    overflow: hidden;
}
a{
    color: $blue;
}
a.btn{
    text-decoration: none;
    display: inline-flex;
}
.container{
    max-width: $container;
    padding: 0 30px;
    margin: 0 auto;
}
.m-10{
    margin: 10px 0;
}
.title{
    font-family: "Merriweather";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $black;
    & span.text-green{
        color: $green;
    }
    & span.text-yellow{
        color: $yellow;
    }
}
.title-50{
    font-size: 50px;
}
.title-white{
    color: #fff;
}
.list {
    & li{
        /* text_1 */
        font-family: "Merriweather Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $black_02;
        margin-bottom: 10px;
        list-style-type: none;
        padding-left: 18px;
        position: relative;
        &:last-child{margin-bottom: 0;}
        &::before{
            content: "";
            width: 10px;
            height: 10px;
            background-color: $yellow;
            position: absolute;
            left: 0;
            top: 50%;
            border-radius: 50%;
            transform: translate(0%,-50%);
        }
    }
}
.proposal {
    padding: 10px 22px 12px 25px;
    background-color: $gray;
    border-radius: 20px;
    position: relative;
    & p {
        color: $black;
        font-family: "Merriweather Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        & span{
            text-transform: uppercase;
            position: relative;
            &::after{
                content: url('../images/proposal-shape.svg');
                position: absolute;
                bottom: -9px;
                left: 0;
                width: 100%;
            }
        }
    }
    &__shape{
        width: 104px;
        height: 40px;
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        right: 4.5%;
        top: -30px;
    }
}
.btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 17px 6px 6px;
    border-radius: 100px;
    background-color: $green;
    outline: none;
    cursor: pointer;
    border: none;
    color: #FFF;
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation: pulse 2s infinite;
}
.btn:hover{
    animation: none;
}
.btn:hover .btn--arrow{
    transform: translate(10px);
}
.btn--arrow {

    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    border-radius: 50%;
    padding: 10px;
    transition: all .3s ease-in-out;
}


.step{
    & h2{
        font-family: "Merriweather";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 120px;
        color: $black_02;
        margin-bottom: 35px;
        & span{
            color: $green;
        } 
    }
    .list-has-bg{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 35px;
        & li{
            padding: 10px 10px 10px 44px;
            // display: flex;
            // align-items: center;
            // gap: 15px;
            background-color: $gray;
            border-radius: 10px;
            position: relative;
            width: fit-content;
            color: $black_02;
            /* text_1 */
            font-family: "Merriweather Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &::before{
                content: "";
                position: absolute;
                left: 19px;
                top: 20px;
                transform: translate(0%,-50%);
                width: 10px;
                height: 10px;
                background-color: $yellow;
                border-radius: 50%;
            }
        }
    }
    .step-list{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        padding-left: 30px;
        margin-bottom: 35px;
        &-title{
            font-family: "Merriweather Sans";
            font-size: 18px;
            color: $black_02;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
        & li{
            position: relative;
            padding-left: 17px;
            width: 68%;
            color: $black_02;
            font-size: 16px;
            & a{
                color: $blue;
            }
            &::before{
                content: "";
                width: 7px;
                height: 7px;
                background-color: $green;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 6px;
            }
        }
    }
    .footer{
        margin-top: 68px;
    }
}
.step-subtitle{
    // margin-top: 35px;
    font-family: "Merriweather Sans";
    color: $black_02;
    font-size: 23px;
    font-style: normal;
    width: 65%;
    font-weight: 400;
    line-height: normal;
}
.step-img{
    background-color: $gray;
    border-radius: 30px;
    margin: 50px 0;
    height: 485px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    & img{
        border-radius: 30px;
        width: 100%;
    }
}
.step-descr{
    font-family: "Merriweather Sans";
    font-size: 16px;
    color: $black_02;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    // margin-top: 35px;
    width: 66%;
}
.attention{
    padding: 15px 20px 15px 30px;
    background: $gray;
    border-radius: 20px;
    width: 69%;
    margin-top: 42px;
    position: relative;
    &::before{
        content: url('../images/consequences-shape-mobile.svg');
        position: absolute;
        left: -1%;
        top: -25px;
    }
    & p{
        font-family: "Merriweather Sans";
        color: $black_02;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.h-550{
    height: 550px;
}
.h-485{
    height: 485px;
}

// ************************ Модальное окно ************************ //
// mf
.modal__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
        .modal {
            background: white;
            padding: 25px;
            border-radius: 5px;
            height: 400px;
            width: 550px;
            &__body{
                    margin-top: 25px;
                    display: block;
                    padding-bottom: 35px;
                    overflow-y: scroll;
                    max-height: 90%;
                    & h1,h2,h3,h4,h5,h6{
                        font-size: 24px;
                        color: $black;
                        margin: 10px 0;
                    }
                    & p{
                        font-size: 16px;
                        color: $black;
                        margin: 10px 0;
                    }
                    & ul{
                        padding-left: 20px;
                        & li{
                            color: $black;
                            font-size: 14px;
                            margin: 10px 0;
                        }
                    }
                } 
                &__title {
                    text-align: center;
                }
                &__close{
                    cursor: pointer;
                    display: flex;
                    justify-content: flex-end;
                }
        }
}


@keyframes pulse {
0% {
    box-shadow: 0 0 0 0 $green;
}
70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
}
}
