<div class="plan-hero">
    <div class="container">
        <div class="plan-hero__inner">
            <h1 class="plan-hero__title title title-50">¡Felicidades, tu plan de adelgazamiento personalizado está
                listo!
            </h1>
            <p class="plan-hero__descr">Todo lo que te queda por hacer es estudiarlo detenidamente y seguir este plan.
                ¡Pronto estarás disfrutando de tu nuevo cuerpo!</p>
            <div style="background-image: url('../../images/sales-hero-bg.png');" class="plan-hero__img">
                <!-- <img src="../../images/sales-hero-bg.png" alt=""> -->
            </div>

        </div>
    </div>
</div>