<div class="step step-4">
    <div class="container">
        <h2><span>Paso 4.</span> Sueño</h2>
        <p class="step-subtitle">¿Sabías que el proceso de quema de grasa ocurre precisamente mientras
            duermes?</p>
        <div style="background-image: url(../../images/step-4-img.jpg);" class="h-550 step-img">
            <!-- <img src="../../images/step-4-img.jpg"> -->
        </div>
        <p class="step-descr m-10">Durante el proceso de adelgazamiento, es fundamental dormir bien y
            descansar, además de no comer durante 4–5 horas antes de acostarte. ¿Por qué?</p>
        <p class="step-descr m-10">El organismo constantemente requiere energía para mantener funciones
            vitales
            como la respiración, el enriquecimiento de la sangre con oxígeno, el mantenimiento de la temperatura
            corporal y el funcionamiento de los órganos internos. Esto se conoce como tasa metabólica basal o nivel
            metabólico basal. Incluso en estado de reposo, tu organismo consume energía para mantener estas funciones.
        </p>
        <p class="step-descr m-10">
            Si no comemos durante 4–5 horas antes de dormir, ¿de dónde obtiene el metabolismo basal la energía?
            Correcto, de las reservas de grasa en nuestro cuerpo. Durante el sueño, todos nuestros órganos siguen
            funcionando y necesitan energía.
        </p>
        <div class="attention">
            <p>De esta manera, si no hemos consumido alimentos calóricos, no hemos excedido la cantidad necesaria y no
                hemos comido durante 4–5 horas antes de dormir, el organismo no tiene más opción que obtener energía a
                partir de las reservas de grasa en nuestro cuerpo. Dormimos y adelgazamos, ¿increíble, verdad? Un sueño
                sólido y saludable es importante no solo para la pérdida de peso, sino también para la salud en general.
                Así que simplemente asegúrate de descansar bien y listo:)</p>
        </div>
    </div>
</div>