<div class="step step-1">
    <div class="container">
        <h2><span>Paso 1.</span> Un poco de teoría</h2>
        <p class="step-subtitle">La obesidad es cuando una persona acumula demasiada grasa. ¿Por qué
            sucede
            esto? Vamos a
            entenderlo.</p>
        <div style="background-image: url(../../images/step-1-img.jpg);" class="h-485 step-img">
        </div>
        <div class="step-items">
            <div class="step-item">
                <div class="step-item__img">
                    <img src="../../images/step-item-1.svg" alt="">
                </div>
                <p class="step-item__descr">
                    Comida y dieta: Uno de los principales factores es lo que comemos. Si nuestra dieta consiste
                    constantemente en alimentos altos en calorías como comida rápida, snacks grasos y bebidas
                    azucaradas, el cuerpo comienza a almacenar calorías extras en forma de grasa. Además, consumir pocos
                    frutos, verduras y otros alimentos saludables puede afectar al peso.
                </p>
            </div>
            <div class="step-item">
                <div class="step-item__img">
                    <img src="../../images/step-item-2.svg" alt="">
                </div>
                <p class="step-item__descr">
                    Actividad física: Si tenemos un estilo de vida sedentario y pasamos mucho tiempo sentados (por
                    ejemplo, trabajando en la computadora o viendo televisión), se reduce la cantidad de calorías
                    quemadas. Como resultado, el peso aumenta.
                </p>
            </div>
            <div class="step-item">
                <div class="step-item__img">
                    <img src="../../images/step-item-3.svg" alt="">
                </div>
                <p class="step-item__descr">
                    Hormonas y herencia genética: Algunas personas pueden ser propensas a la obesidad debido a
                    características hormonales o genéticas. Si ha habido casos de obesidad en tu familia, el riesgo de
                    desarrollarla podría ser mayor.
                </p>
            </div>
            <div class="step-item">
                <div class="step-item__img">
                    <img src="../../images/step-item-4.svg" alt="">
                </div>
                <p class="step-item__descr">
                    Factores psicológicos: El estrés, la depresión y otros problemas psicológicos pueden llevar a lo que
                    se llama «comer emocional», donde las personas comen no por hambre, sino para calmarse o mejorar su
                    estado de ánimo.
                </p>
            </div>
            <div class="step-item">
                <div class="step-item__img">
                    <img src="../../images/step-item-5.svg" alt="">
                </div>
                <p class="step-item__descr">
                    Sueño y descanso: La falta de sueño y un horario de sueño irregular pueden afectar el metabolismo y
                    llevar al aumento de peso.
                </p>
            </div>
            <div class="step-item">
                <div class="step-item__img">
                    <img src="../../images/step-item-6.svg" alt="">
                </div>
                <p class="step-item__descr">
                    Medicamentos y enfermedades: Algunos medicamentos y condiciones médicas pueden contribuir al aumento
                    de peso.
                </p>
            </div>
        </div>
        <p class="step-descr">
            En resumen, la obesidad es el resultado de la combinación de varios factores, incluyendo el estilo de vida,
            la alimentación, la genética y el estado psicológico. Para combatir el exceso de peso, es importante
            mantener un equilibrio entre las calorías consumidas y las quemadas, además de cuidar la salud y el estilo
            de vida.
        </p>
    </div>
</div>