<section class="reasons">
    <div class="container">
        <div class="reasons__inner">
            <h2 class="title reasons__title">No se trata solo de la dieta: 5 razones por las cuales adelgazar hoy es más
                difícil que nunca</h2>
            <p class="reasons__descr">La idea de perder kilos extra no es nueva. Para algunos es una
                cuestión
                de belleza, para otros es una cuestión de salud. Puede haber varias razones por las que no
                logramos
                adelgazar, pero una te sorprenderá: perder peso hoy en día es mucho más difícil que para
                aquellos
                que intentaron hace 20–30 años. Y aquí está por qué:</p>
            <div class="reasons-items">
                <div class="reasons-items__col--1">
                    <div class="reasons-item">
                        <div class="reasons-item__icon">
                            <img src="../../images/reasons-item-icon-1.svg" alt="">
                        </div>
                        <div class="reasons-item__descr">
                            <p><span>Disruptores endocrinos</span> - en nuestra comida y en nuestro entorno hay una gran
                                cantidad de
                                sustancias llamadas disruptores endocrinos. El bisfenol A, que es un componente común en
                                muchos envases, puede ingresar a nuestro organismo, acumularse en él y provocar la
                                obesidad.
                            </p>
                        </div>
                    </div>
                    <div class="reasons-item">
                        <div class="reasons-item__icon">
                            <img src="../../images/reasons-item-icon-2.svg" alt="">
                        </div>
                        <div class="reasons-item__descr">
                            <p><span>Medicamentos</span> - algunos medicamentos pueden provocar aumento de peso. Las
                                personas
                                modernas consumen más medicamentos que hace 20–40 años, esto se aplica a los
                                antidepresivos y otros medicamentos utilizados para tratar trastornos mentales.</p>
                        </div>
                    </div>
                    <div class="reasons-item">
                        <div class="reasons-item__icon">
                            <img src="../../images/reasons-item-icon-3.svg" alt="">
                        </div>
                        <div class="reasons-item__descr">
                            <p><span>Edulcorantes artificiales</span> - ahora hay una gran cantidad de productos «sin
                                azúcar» en las
                                estanterías de las tiendas, definitivamente más que hace dos o tres décadas. Sin
                                embargo, solo crean la ilusión de productos más saludables y con menos calorías.</p>
                        </div>
                    </div>
                    <div class="reasons-item">
                        <div class="reasons-item__icon">
                            <img src="../../images/reasons-item-icon-4.svg" alt="">
                        </div>
                        <div class="reasons-item__descr">
                            <p><span>Problemas con el microbioma</span> - las bacterias intestinales son mucho más que
                                simplemente
                                bacterias que habitan en el intestino. Las alteraciones en la composición del microbioma
                                pueden llevar no solo a problemas digestivos, sino también a trastornos metabólicos (¡y
                                aumento de peso!).</p>
                        </div>
                    </div>
                    <div class=" reasons-item reasons-item__mobile">
                        <div class="reasons-item__icon">
                            <img src="../../images/reasons-item-icon-5.svg" alt="">
                        </div>
                        <div class="reasons-item__descr">
                            <p><span>Falta de sueño</span> - la vida moderna impone sus condiciones y dormimos menos que
                                nunca. Y no
                                solo se trata del trabajo. Estamos rodeados de dispositivos que nos tientan a no
                                acostarnos a tiempo y, en cambio, pasamos tiempo en redes sociales antes de dormir.</p>
                        </div>
                    </div>
                </div>
                <div class="reasons-items__col--2">
                    <img class="reasons-item__img" src="../../images/reasons-item-img.jpg" alt="">
                    <p class="reasons__descr reasons__descr-mobile">La idea de perder kilos extra no es nueva. Para algunos es una
                        cuestión
                        de belleza, para otros es una cuestión de salud. Puede haber varias razones por las que no
                        logramos
                        adelgazar, pero una te sorprenderá: perder peso hoy en día es mucho más difícil que para
                        aquellos
                        que intentaron hace 20–30 años. Y aquí está por qué:</p>
                    <div class=" reasons-item reasons-item__desktop">
                        <div class="reasons-item__icon">
                            <img src="../../images/reasons-item-icon-5.svg" alt="">
                        </div>
                        <div class="reasons-item__descr">
                            <p><span>Falta de sueño</span> - la vida moderna impone sus condiciones y dormimos menos que
                                nunca. Y no
                                solo se trata del trabajo. Estamos rodeados de dispositivos que nos tientan a no
                                acostarnos a tiempo y, en cambio, pasamos tiempo en redes sociales antes de dormir.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>