<section class="testimonials">
    <div class="container">
        <h2 class="testimonials__title title">Testimonios de personas que lograron <span class="text-yellow">vencer la
                obesidad:</span>
        </h2>
        <div class="testimonials__wrapper">
            <div class="testimonials-item">
                <div class="testimonials-item__head">
                    <img src="../../images/testimonials-logo-1.png" alt="" class="testimonials-item__logo">
                    <div class="testimonials-item__info">
                        <h3 class="testimonials-item__name">Ana María Calvo</h3>
                        <span class="testimonials-item__date">3d</span>
                    </div>
                    <div class="testimonials-item__more">
                        <img src="../../images/testimonials-item-more.svg" alt="">
                    </div>
                </div>
                <div class="testimonials-item__descr">
                    <p>Fresh Life Clinic son auténticos profesionales en su campo. Su plan me ayudó a perder 10 kg en
                        3 meses. No puedo creer que haya logrado estos resultados sin sufrir.</p>
                </div>
                <div class="testimonials-item__footer">
                    <div class="testimonials-item__likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                fill="#F44336" />
                        </svg>
                        <span>You & 50 other</span>
                    </div>
                    <div class="testimonials-item__comments">
                        <span>25 Comments</span>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-item__head">
                    <img src="../../images/testimonials-logo-2.png" alt="" class="testimonials-item__logo">
                    <div class="testimonials-item__info">
                        <h3 class="testimonials-item__name">Lucia Roman</h3>
                        <span class="testimonials-item__date">21h</span>
                    </div>
                    <div class="testimonials-item__more">
                        <img src="../../images/testimonials-item-more.svg" alt="">
                    </div>
                </div>
                <div class="testimonials-item__descr">
                    <p>¡Sonia es mi salvadora! Su plan de adelgazamiento cambió por completo mi vida. ¡Menos 15 kg y una
                        satisfacción infinita con los resultados! #NuevaYo</p>
                </div>
                <div class="testimonials-item__footer">
                    <div class="testimonials-item__likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                fill="#F44336" />
                        </svg>
                        <span>You & 10 other</span>
                    </div>
                    <div class="testimonials-item__comments">
                        <span>2 Comments</span>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-item__head">
                    <img src="../../images/testimonials-logo-3.png" alt="" class="testimonials-item__logo">
                    <div class="testimonials-item__info">
                        <h3 class="testimonials-item__name">María Pilar Perez</h3>
                        <span class="testimonials-item__date">5h</span>
                    </div>
                    <div class="testimonials-item__more">
                        <img src="../../images/testimonials-item-more.svg" alt="">
                    </div>
                </div>
                <div class="testimonials-item__descr">
                    <p>🌟¡Sonia es sin duda una maga! Mis -20 kg se hicieron realidad gracias a sus consejos. ¡Me siento
                        genial!</p>
                </div>
                <div class="testimonials-item__footer">
                    <div class="testimonials-item__likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                fill="#F44336" />
                        </svg>
                        <span>You & 5 other</span>
                    </div>
                    <div class="testimonials-item__comments">
                        <span>0 Comments</span>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-item__head">
                    <img src="../../images/testimonials-logo-4.png" alt="" class="testimonials-item__logo">
                    <div class="testimonials-item__info">
                        <h3 class="testimonials-item__name">Teresa Hernandez</h3>
                        <span class="testimonials-item__date">2d</span>
                    </div>
                    <div class="testimonials-item__more">
                        <img src="../../images/testimonials-item-more.svg" alt="">
                    </div>
                </div>
                <div class="testimonials-item__descr">
                    <p>Me dijeron que siguiera el plan, y eso hice. Resultado: perdí 14 kg. ¡Estoy muy feliz! El peso no
                        regresa porque ahora sé cómo se origina la obesidad y cómo controlarla:)</p>
                </div>
                <div class="testimonials-item__footer">
                    <div class="testimonials-item__likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                fill="#F44336" />
                        </svg>
                        <span>You & 15 other</span>
                    </div>
                    <div class="testimonials-item__comments">
                        <span>4 Comments</span>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-item__head">
                    <img src="../../images/testimonials-logo-5.png" alt="" class="testimonials-item__logo">
                    <div class="testimonials-item__info">
                        <h3 class="testimonials-item__name">Sandra Martinez</h3>
                        <span class="testimonials-item__date">9h</span>
                    </div>
                    <div class="testimonials-item__more">
                        <img src="../../images/testimonials-item-more.svg" alt="">
                    </div>
                </div>
                <div class="testimonials-item__descr">
                    <p>Sonia, eres increíble y gracias por todo lo que has hecho por mi familia. Finalmente hemos
                        adoptado un estilo de vida saludable y hemos perdido peso sin problemas. ¡Gracias una vez más!
                    </p>
                </div>
                <div class="testimonials-item__footer">
                    <div class="testimonials-item__likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                fill="#F44336" />
                        </svg>
                        <span>You & 3 other</span>
                    </div>
                    <div class="testimonials-item__comments">
                        <span>0 Comments</span>
                    </div>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-item__head">
                    <img src="../../images/testimonials-logo-6.png" alt="" class="testimonials-item__logo">
                    <div class="testimonials-item__info">
                        <h3 class="testimonials-item__name">Carolina Gonzalez</h3>
                        <span class="testimonials-item__date">1d</span>
                    </div>
                    <div class="testimonials-item__more">
                        <img src="../../images/testimonials-item-more.svg" alt="">
                    </div>
                </div>
                <div class="testimonials-item__descr">
                    <p>Mi proceso de adelgazamiento fue fácil y sin sufrimiento. Comencé a entender los alimentos, sé
                        qué es bueno y saludable, y qué es dañino y no se debe comer. ¡Recomiendo probar el plan de
                        Fresh Life Clinic!
                    </p>
                </div>
                <div class="testimonials-item__footer">
                    <div class="testimonials-item__likes">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                fill="#F44336" />
                        </svg>
                        <span>You & 34 other</span>
                    </div>
                    <div class="testimonials-item__comments">
                        <span>8 Comments</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Слайдер в моб.версии -->
        <div class="testimonials__wrapper testimonials__mobile swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide testimonials-item">
                    <div class="testimonials-item__head">
                        <img src="../../images/testimonials-logo-1.png" alt="" class="testimonials-item__logo">
                        <div class="testimonials-item__info">
                            <h3 class="testimonials-item__name">Ana María Calvo</h3>
                            <span class="testimonials-item__date">3d</span>
                        </div>
                        <div class="testimonials-item__more">
                            <img src="../../images/testimonials-item-more.svg" alt="">
                        </div>
                    </div>
                    <div class="testimonials-item__descr">
                        <p>Fresh Life Clinic son auténticos profesionales en su campo. Su plan me ayudó a perder 10 kg
                            en
                            3 meses. No puedo creer que haya logrado estos resultados sin sufrir.</p>
                    </div>
                    <div class="testimonials-item__footer">
                        <div class="testimonials-item__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                    fill="#F44336" />
                            </svg>
                            <span>You & 50 other</span>
                        </div>
                        <div class="testimonials-item__comments">
                            <span>25 Comments</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                    <div class="testimonials-item__head">
                        <img src="../../images/testimonials-logo-2.png" alt="" class="testimonials-item__logo">
                        <div class="testimonials-item__info">
                            <h3 class="testimonials-item__name">Lucia Roman</h3>
                            <span class="testimonials-item__date">21h</span>
                        </div>
                        <div class="testimonials-item__more">
                            <img src="../../images/testimonials-item-more.svg" alt="">
                        </div>
                    </div>
                    <div class="testimonials-item__descr">
                        <p>¡Sonia es mi salvadora! Su plan de adelgazamiento cambió por completo mi vida. ¡Menos 15 kg y
                            una
                            satisfacción infinita con los resultados! #NuevaYo</p>
                    </div>
                    <div class="testimonials-item__footer">
                        <div class="testimonials-item__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                    fill="#F44336" />
                            </svg>
                            <span>You & 10 other</span>
                        </div>
                        <div class="testimonials-item__comments">
                            <span>2 Comments</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                    <div class="testimonials-item__head">
                        <img src="../../images/testimonials-logo-3.png" alt="" class="testimonials-item__logo">
                        <div class="testimonials-item__info">
                            <h3 class="testimonials-item__name">María Pilar Perez</h3>
                            <span class="testimonials-item__date">5h</span>
                        </div>
                        <div class="testimonials-item__more">
                            <img src="../../images/testimonials-item-more.svg" alt="">
                        </div>
                    </div>
                    <div class="testimonials-item__descr">
                        <p>🌟¡Sonia es sin duda una maga! Mis -20 kg se hicieron realidad gracias a sus consejos. ¡Me
                            siento
                            genial!</p>
                    </div>
                    <div class="testimonials-item__footer">
                        <div class="testimonials-item__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                    fill="#F44336" />
                            </svg>
                            <span>You & 5 other</span>
                        </div>
                        <div class="testimonials-item__comments">
                            <span>0 Comments</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                    <div class="testimonials-item__head">
                        <img src="../../images/testimonials-logo-4.png" alt="" class="testimonials-item__logo">
                        <div class="testimonials-item__info">
                            <h3 class="testimonials-item__name">Teresa Hernandez</h3>
                            <span class="testimonials-item__date">2d</span>
                        </div>
                        <div class="testimonials-item__more">
                            <img src="../../images/testimonials-item-more.svg" alt="">
                        </div>
                    </div>
                    <div class="testimonials-item__descr">
                        <p>Me dijeron que siguiera el plan, y eso hice. Resultado: perdí 14 kg. ¡Estoy muy feliz! El
                            peso no
                            regresa porque ahora sé cómo se origina la obesidad y cómo controlarla:)</p>
                    </div>
                    <div class="testimonials-item__footer">
                        <div class="testimonials-item__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                    fill="#F44336" />
                            </svg>
                            <span>You & 15 other</span>
                        </div>
                        <div class="testimonials-item__comments">
                            <span>4 Comments</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                    <div class="testimonials-item__head">
                        <img src="../../images/testimonials-logo-5.png" alt="" class="testimonials-item__logo">
                        <div class="testimonials-item__info">
                            <h3 class="testimonials-item__name">Sandra Martinez</h3>
                            <span class="testimonials-item__date">9h</span>
                        </div>
                        <div class="testimonials-item__more">
                            <img src="../../images/testimonials-item-more.svg" alt="">
                        </div>
                    </div>
                    <div class="testimonials-item__descr">
                        <p>Sonia, eres increíble y gracias por todo lo que has hecho por mi familia. Finalmente hemos
                            adoptado un estilo de vida saludable y hemos perdido peso sin problemas. ¡Gracias una vez
                            más!
                        </p>
                    </div>
                    <div class="testimonials-item__footer">
                        <div class="testimonials-item__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                    fill="#F44336" />
                            </svg>
                            <span>You & 3 other</span>
                        </div>
                        <div class="testimonials-item__comments">
                            <span>0 Comments</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials-item">
                    <div class="testimonials-item__head">
                        <img src="../../images/testimonials-logo-6.png" alt="" class="testimonials-item__logo">
                        <div class="testimonials-item__info">
                            <h3 class="testimonials-item__name">Carolina Gonzalez</h3>
                            <span class="testimonials-item__date">1d</span>
                        </div>
                        <div class="testimonials-item__more">
                            <img src="../../images/testimonials-item-more.svg" alt="">
                        </div>
                    </div>
                    <div class="testimonials-item__descr">
                        <p>Mi proceso de adelgazamiento fue fácil y sin sufrimiento. Comencé a entender los alimentos,
                            sé
                            qué es bueno y saludable, y qué es dañino y no se debe comer. ¡Recomiendo probar el plan de
                            Fresh Life Clinic!
                        </p>
                    </div>
                    <div class="testimonials-item__footer">
                        <div class="testimonials-item__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M17 5C14.9 5 13.05 6.05 12 7.7C10.95 6.05 9.1 5 7 5C3.7 5 1 7.7 1 11C1 16.95 12 23 12 23C12 23 23 17 23 11C23 7.7 20.3 5 17 5Z"
                                    fill="#F44336" />
                            </svg>
                            <span>You & 34 other</span>
                        </div>
                        <div class="testimonials-item__comments">
                            <span>8 Comments</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="testimonials-pagination swiper-pagination"></div>
        </div>
        <!-- Конец - Слайдер в моб.версии -->
    </div>
</section>